.wd-navbar {
  padding: 12px 12px 0px !important;
}

.wd-search {
  overflow: auto;
}

.wd-settings {
  float: right;
}

.wd-search-box {
  background-color: darkgray;
  color: white;
  border-radius: 15px;
  width: 50%;
  float: left;
}

.wd-topic {
  color: rgb(110, 118, 125);
  font-size: 15px;
  padding: 16px;
  text-decoration: none;
}

.wd-selected {
  color: rgb(29, 161, 242);
  border-bottom: solid;
  border-bottom-color: rgb(29, 161, 242);
}

.wd-post-image {
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: 16px;
  float: right;
}

.wd-post-text {
  float: left;
}

.wd-suggested-post {
  padding: 16px;
}
